service: nestjs-file-generation-v2

frameworkVersion: '3'

provider:
    name: aws
    runtime: nodejs20.x
    stage: dev
    region: ap-northeast-1
    memorySize: 2048
    timeout: 30

package:
    individually: true
    patterns:
        - 'dist/**'
        - '!src/**'
        - '!test/**'
        - '!.git/**'
        - '!.github/**'
        - '!tsconfig.json'
        - '!jest.config.js'
        - '!README.md'
        - 'dist/**'
        - 'package.json'
        - '.env'
        - '.env.local'
        - '.env.local.internal'
        - 'node_modules/**'
        - '!node_modules/aws-sdk/**'
        - '!node_modules/@types/**'
        - '!node_modules/typescript/**'
        - '!node_modules/ts-node/**'
        - '!node_modules/ts-loader/**'
        - '!node_modules/jest/**'
        - '!node_modules/@jest/**'
        - '!node_modules/eslint/**'
        - '!node_modules/@eslint/**'
        - '!node_modules/prettier/**'
        - 'assets/**'
        - 'assets/images/**'
        - 'assets/fonts/**'
        - 'assets/**/*.ttf'
        - 'assets/**/*.png'
        - 'assets/**/*.jpg'
        - 'assets/**/*.jpeg'
        - 'assets/**/*.gif'
        - 'assets/**/*.svg'

functions:
    api:
        handler: dist/lambda.handler
        events:
            - http: ANY /
            - http: ANY /{proxy+}
        runtime: nodejs20.x
        environment:
            NODE_OPTIONS: '--enable-source-maps'

plugins:
    - serverless-plugin-common-excludes
